<div class="py-5 text-center" *ngIf="buttonClick">
  <button class="btn btn-primary btn-lg" type="button" (click)="createXml($event)">Create</button>
  <br><br><br><br>
  <button class="btn btn-primary btn-lg" display="inline-block" type="button" (click)="modifyXml($event)">Modify</button>
</div>

<app-upload (uploadedSchema)="uploadedSchemaHandler($event)" *ngIf="modify"></app-upload>

<app-create-xml *ngIf="create"></app-create-xml>

<div class="row" *ngIf="rootTag">
  <div class="col-md">
    <h2 class="mb-3">{{ rootTag }}</h2>
    <form>
      <app-root-tags
        [rootParamsExceptSettings]="rootParamsExceptSettings"
        (updateRootsHandler)="updateRootsHandler($event)"
      ></app-root-tags>
      <button type="button" class="btn btn-success mb-5 right" (click)="addSetting($event)">
        Add Item
      </button>
      <app-settings
        *ngFor="let setting of settings; let idxSetting = index"
        [setting]="setting"
        (deleteSettingHandler)="deleteSetting(idxSetting)"
        (updateSettingHandler)="updateSettingHandler($event, idxSetting)"
      ></app-settings>
      <br />
      <button class="btn btn-info btn-lg btn-block" type="button" (click)="onSumit($event)">
        Generate Modified XML
      </button>
    </form>
  </div>
</div>
